.content-portfolio{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.buttonList {
  padding: 100px 0px 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonPortfolio {
  background-color: #f5f4fa;
  color: $color2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0px 15px;
  margin: 5px;
  height: 38px;
  border-radius: 5px;
}
.buttonPortfolio:hover {
  background-color: $color1;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: $shadow;
}
.buttonPortfolio:focus{
  background-color: $color1;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: $shadow;
}
.proyectList {
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proyect1 {
  border: 2px solid #f1f1f1;
  margin: 30px 30px 0px 0px;
  width: 370px;
  height: 404px;
}
.proyect1:nth-child(3n + 3) {
  margin-right: 0;
}
.proyect1:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
}
.proyect1:focus {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 2px 5px rgba(133, 138, 143, 0.7);
}
.frame{
  position: relative;
  overflow: hidden;
}
.overlay{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  transform: translatey(100%);
  transition: transform ease-in 0.25s;
}
.frame:hover .overlay{
  transform: translateY(0);
}
.proyect {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: $color2;
  padding: 0px 20px;
}

.description {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $color3;
  padding: 0px 20px;
}